<div class="markets-utility-body-introduction-container-bg">
  <div
    class="markets-utility-body-introduction-container container-width"
    id="markets-utility-body-introduction-container"
  >
    <!-- content -->
  </div>
</div>

<style>
  .markets-utility-body-introduction-container-bg {
    background-color: white;
    width: 100%;
    padding: 60px 0;
  }
  .markets-utility-body-introduction-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1520px;
    min-height: 100vh;
  }
  .markets-utility-body-introduction-container h1 {
    color: #0d0d0d;
    font-weight: 700;

    line-height: 48px;
    text-align: center;
    margin-bottom: 12px;
  }
  .markets-utility-body-introduction-container p {
    color: #0d0d0d;
    font-weight: 450;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 16px;
    max-width: 792px;
  }
  .markets-utility-body-introduction-container p:last-of-type {
    margin-bottom: 10px;
  }

  /* Tablet View */
  @media (max-width: 1024px) {
    .markets-utility-body-introduction-container {
      padding: 32px;
      min-height: auto;
    }

    .markets-utility-body-introduction-container h1 {
      line-height: 36px;
    }

    .markets-utility-body-introduction-container p {
      font-size: 16px;
      line-height: 22px;
    }

    .markets-utility-body-introduction-container img {
      height: auto;
    }
  }

  /* Mobile View */
  @media (max-width: 768px) {
    .markets-utility-body-introduction-container-bg {
      padding: 30px;
    }
    .markets-utility-body-introduction-container {
      padding: 32px 12px;
      min-height: auto;
    }

    .markets-utility-body-introduction-container h1 {
      line-height: 30px;
    }

    .markets-utility-body-introduction-container p {
      font-size: 16px;
      line-height: 20px;
      max-width: 100%;
    }

    .markets-utility-body-introduction-container img {
      width: 100%;
      height: auto;
    }
  }

  @media (max-width: 425px) {
    .markets-utility-body-introduction-container-bg {
      padding: 0;
    }

    .markets-utility-body-introduction-container p {
      font-size: 14px;
    }
  }
</style>

{% schema %}
{
  "name": "Markets Utility Three",
  "settings": [
    {
      "type": "text",
      "id": "titleOne",
      "label": "Title",
      "default": "Utility Wire & Cable"
    },
    {
      "type": "richtext",
      "id": "contentOne",
      "label": "Content",
      "default": "<p>Text Here </p>"
    },
    { "type": "image_picker", "id": "imageOne", "label": "Image" }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Markets Utility Three"
    }
  ]
}
{% endschema %}

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const contentContainer = document.getElementById('markets-utility-body-introduction-container');

    contentContainer.innerHTML = '';

    const heading = document.createElement('h1');
    heading.className = 'title-section';
    heading.textContent = "{{ section.settings.titleOne }}";
    contentContainer.appendChild(heading);

    {% if section.settings.contentOne != blank %}
      contentContainer.innerHTML += `{{ section.settings.contentOne }}`;
    {% endif %}

    const img = document.createElement('img');
    img.src = "{{ section.settings.imageOne | image_url }}";
    img.alt = 'None';
    img.style.width = '100%';
    img.height = 903;

    contentContainer.appendChild(img);
  });
</script>
