<h1 id="renewable-energy-section-4" class="markets-renewable-energy-category-solutions-container-h1 title-section">
  {{ section.settings.titleOne }}
</h1>
<div
  class="markets-renewable-energy-category-solutions-container container-width"
  id="markets-renewable-energy-category-solutions-container"
>
  <!-- content -->
</div>

<style>
  .markets-renewable-energy-category-solutions-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 157px 60px 144px; */
    max-width: 1520px;
    margin: 0 auto 60px;
    width: 100%;
    gap: 40px;
  }

  .markets-renewable-energy-category-solutions-container-h1 {
    color: #0d0d0d;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    margin: 62px 0 32px 0;
  }

  .markets-renewable-energy-category-solutions-container p {
    color: #0d0d0d;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    background-color: #f2f4f7;
    margin-top: 16px;
    padding: 12px 22px;
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    width: 100%;
  }

  .markets-renewable-energy-category-solutions-item {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 1024px) {
    .markets-renewable-energy-category-solutions-container {
      flex-wrap: wrap;
      padding: 0 32px 32px 32px;
    }

    .markets-renewable-energy-category-solutions-item {
      flex: 1 1 calc(50% - 20px);
    }
  }

  @media (max-width: 768px) {
    .markets-renewable-energy-category-solutions-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }

    .markets-renewable-energy-category-solutions-item {
      width: 100%;
      box-sizing: border-box;
    }

    .markets-renewable-energy-category-solutions-container-h1 {
      margin: 32px 0;
      font-size: 28px;
    }

    .markets-renewable-energy-category-solutions-container p {
      min-height: 110px;
      padding: 12px 12px;
    }

    .markets-renewable-energy-category-solutions-item p {
      font-size: 16px;
    }
  }

  @media (max-width: 425px) {
    .markets-renewable-energy-category-solutions-container {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
    }

    .markets-renewable-energy-category-solutions-item {
      width: calc(50% - 16px);
      box-sizing: border-box;
    }

    .markets-renewable-energy-category-solutions-item p {
      font-size: 14px;
    }
  }
</style>

{% schema %}
{
  "name": "Markets Renewable ThirTen",
  "settings": [
    {
      "type": "text",
      "id": "titleOne",
      "label": "Title 1",
      "default": "Our Solution"
    }
  ],
  "blocks": [
    {
      "type": "text_block",
      "name": "Text Block",
      "settings": [
        { "type": "text", "id": "title", "label": "Title" },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ],
      "limit": 6
    }
  ],
  "presets": [
    {
      "name": "Markets Renewable ThirTen"
    }
  ]
}
{% endschema %}

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const marketsRenewableEnergyWindCategories = [];

{% for block in section.blocks %}
    {% if block.type == 'text_block' %}
    marketsRenewableEnergyWindCategories.push({
          title: "{{  block.settings.title }}",
          image: `{{ block.settings.image | image_url  }}`,
        });
    {% endif %}
{% endfor %}


    const contentContainer = document.getElementById('markets-renewable-energy-category-solutions-container');

    marketsRenewableEnergyWindCategories.forEach(item => {

      const div = document.createElement('div');
      div.classList.add('markets-renewable-energy-category-solutions-item');


      const img = document.createElement('img');
      img.src = item.image;
      img.alt = item.title;
      img.width = 161;
      img.height = 195;

      const p = document.createElement('p');
      p.textContent = item.title;

      div.appendChild(img);
      div.appendChild(p);

      contentContainer.appendChild(div);
    });
  });
</script>
