<div class="markets-renewable-energy-wiring-container-bg">
  <div class="markets-renewable-energy-wiring-container container-width" id="markets-renewable-energy-wiring-container">
    <div class="markets-renewable-energy-wiring-top">
      <div class="markets-renewable-energy-wiring-top-left">
        <h1 id="renewable-energy-section-3" class="title-section">Wiring Technology for Renewable Wind Energy</h1>
        <p>
          Turbines leverage power from the wind to provide clean, reliable energy. Today’s global wind power capacity
          sits at 743 gigawatts, according to the Global Wind Energy Council, and the industry continues to grow.
        </p>
        <p>
          Wind turbines powering this production may be situated on land or offshore. Offshore turbines are
          significantly larger and generate more energy thanks to the massive power of ocean winds. Still, to maximize
          production, both kinds of turbines are often arranged into farms in very windy areas. However, they can also
          be installed at or near the site where the power will be used. In this case, they are referred to as
          distributed wind.
        </p>
        <p>
          A wind turbine has propeller-shaped blades that spin around a rotor when they capture airflow. The rotor’s
          movement spins a generator, creating electricity.
        </p>
        <h3 style="margin-bottom:28px;">The Instrumentation and Design Behind Large-Scale Wind Power</h3>
        <p>
          A typical turbine consists of blades connected to a rotor, both mounted on a tall shaft. The rotor connects to
          the nacelle, which is the box that contains the generator. Wind turbine cables are necessary to connect these
          components, but also to transport energy from the generator to its place of storage or use.
        </p>
        <p>
          To function outdoors under varied conditions, wind turbine construction materials must be rugged while
          remaining lightweight. This is especially critical when considering offshore wind energy technology, which is
          buffeted by saltwater and high winds.
        </p>
      </div>
      <div class="markets-renewable-energy-wiring-top-right">
        <img src="{{ 'markets-renewable-energy-wiring-1.png' | asset_url }}" alt="empty" width="362" height="486">
        <button id="openModalBtn" class="markets-renewable-click">Click to Expand</button>
      </div>
    </div>
    <img src="{{ 'markets-renewable-energy-wiring-2.png' | asset_url }}" alt="empty" width="auto" height="903">
  </div>
</div>

<div id="imageModal" class="modal">
  <div class="modal-content">
    <span class="close-modal">&times;</span>
    <img src="{{ 'ex.png' | asset_url }}" alt="Expanded Image"  width="840" height="48">
  </div>
</div>

<script>
var modal = document.getElementById("imageModal");

var btn = document.getElementById("openModalBtn");

var closeBtn = document.getElementsByClassName("close-modal")[0];

btn.onclick = function () {
  modal.style.display = "flex";
  document.body.classList.add("modal-open"); 
};

closeBtn.onclick = function () {
  modal.style.display = "none";
  document.body.classList.remove("modal-open"); 
};

window.onclick = function (event) {
  if (event.target == modal) {
    modal.style.display = "none";
    document.body.classList.remove("modal-open");
  }
};
</script>

<style>

body.modal-open {
  overflow: hidden;
}
.modal {
    display: none;
    position: fixed;
    z-index: 9999999999999999999999999999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-y: auto;
    justify-content: center;
    align-items: center;
  }

  .modal-content {
    position: relative;
    margin: 5% auto;
    max-width: 90%;
    height: 100%;
    text-align: center;
  }

  .modal-content img {
    max-width: 100%;
    height: auto;
  }

  .close-modal {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 32px;
    color: white;
    cursor: pointer;
  }

  .close-modal:hover {
    opacity: 0.8;
  }

  .markets-renewable-click:hover {
    /*color: blue;*/
    opacity: 0.7;
  }
    .markets-renewable-energy-wiring-container-bg {
      width:100%;
      backgorund-color: white;
      padding: 60px 0;
    }
    .markets-renewable-energy-wiring-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 1520px;
      margin: 0 auto;
    }
    .markets-renewable-energy-wiring-container h1 {
      color:#0D0D0D;
      font-weight:700;
      font-size:40px;
      line-height:48px;
      margin-bottom:24px;
    }
    .markets-renewable-energy-wiring-container h3 {
      color:#0D0D0D;
      font-weight:600;
      font-size:24px;
      line-height:30px;
      margin-bottom:12px;
    
    }
    .markets-renewable-energy-wiring-container p {
      color: #0D0D0D;
      font-weight:400;
      font-size:16px;
      line-height:24px;
      margin-bottom:16px;
      width:100%;
      max-width: 1026px;
    }
    .markets-renewable-energy-wiring-top{
      display: flex;
      justify-content: space-between;
      gap:81px;
      margin-bottom: 10px;
    }
    .markets-renewable-energy-wiring-top-right{
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
    .markets-renewable-energy-wiring-top-right button{
      border: none;
      background-color: transparent;
      color:#0060CC;
      font-weight:450;
      font-size:16px;
      line-height: 24px;
      text-decoration:underline;
    }

    /* Tablet (max-width: 1024px) */
  @media (max-width: 1180px) {

    .markets-renewable-energy-wiring-container {
      padding: 40px 32px;
    }

    .markets-renewable-energy-wiring-top {
      flex-direction: column;
      gap: 40px;
      align-items: center;
    }

    .markets-renewable-energy-wiring-top-left {
      text-align: left;
    }

    .markets-renewable-energy-wiring-top-right {
      align-items: center;
    }

    .markets-renewable-energy-wiring-top-right img {
      width: 100%;
      max-width: 400px;
      height: auto;
    }
  }

  /* Mobile (max-width: 768px) */
  @media (max-width: 768px) {
    .markets-renewable-energy-wiring-container {
      padding: 32px 12px;
    }

    .markets-renewable-energy-wiring-top-left {
      text-align: left;
    }

    .markets-renewable-energy-wiring-container h1 {
      font-size: 24px;
      line-height: 36px;
    }

    .markets-renewable-energy-wiring-container h3 {
      font-size: 20px;
      line-height: 26px;
    }

    .markets-renewable-energy-wiring-container p {
      font-size: 16px;
      line-height: 22px;
    }

    .markets-renewable-energy-wiring-top-right img {
      width: 100%;
      max-width: 100%;
      height: auto;
    }

    .markets-renewable-energy-wiring-top-right button {
      font-size: 14px;
    }

    
  }

  @media (max-width: 425px) {
    .markets-renewable-energy-wiring-top-left p {
      font-size: 14px;
    }
    .markets-renewable-energy-wiring-container-bg {
   
      padding: 30px 0;
    }
  }
</style>