<section class="markets-renewable-energy-commercial-solar-container-bg">
  <div class="markets-renewable-energy-commercial-solar-container container-width" id="markets-renewable-energy-commercial-solar">
    <div class="markets-renewable-energy-commercial-solar-header">
      <h1 class="markets-renewable-energy-commercial-solar-title title-section">
        How Solar Cables Support Large-Scale Renewable Energy Equipment
      </h1>
      <p>
        Solar panels themselves consist of frames that contain glass-covered solar cells. These cells are the units that
        generate charge in response to sunlight. The solar panels interconnect, resulting in strings, and lead back to a
        combiner box. Monitoring systems track energy yield and alert technicians to faults. These components work
        together to create solar energy for commercial buildings.
      </p>
    </div>
    <hr>
  </div>
</section>
<style>
  .markets-renewable-energy-commercial-solar-container-bg {
    background-color: #FFFFFF;
    padding-bottom: 60px;

  }

  .markets-renewable-energy-commercial-solar-container {
    max-width: 1520px;
    margin: 0 auto;
  }

  .markets-renewable-energy-commercial-solar-container hr {
    background-color: #666666;
    margin: 36px 0;
  }

  .markets-renewable-energy-commercial-solar-header {
    display: flex;
    justify-content: space-between;
    algin-items: center;
    padding-top: 60px;
    gap: 130px;
  }

  .markets-renewable-energy-commercial-solar-header p {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #0D0D0D;
  }

  .markets-renewable-energy-commercial-solar-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    color: #0D0D0D;
    background-color: #FFFFFF;
    min-width: 666px;
  }

  .markets-renewable-energy-commercial-solar-wrapper {
    width: 100%;
    background-color: white;
  }

  .markets-renewable-energy-commercial-solar-section {
    display: flex;
    align-items: flex-start;
  }

  .markets-renewable-energy-commercial-solar-left {
    width: 100%;
  }

  .markets-renewable-energy-commercial-solar-image {
    display: block;
    width: 101%;
    max-width: 761px;
    height: 524px;
  }

  .markets-renewable-energy-commercial-solar-right {
    display: flex;
    width: 100%;
    algin-items: flex-start;
  }

  .markets-renewable-energy-commercial-solar-description {
    font-size: 16px;
    font-weight: 400;
    color: #0D0D0D;
    margin-bottom: 36px;
  }

  .markets-renewable-energy-commercial-solar-buttons {
    display: flex;
    justify-content: flex-start;
    /* background-color: #f5f5f5; */
    border-radius: 4px;
    position: relative;
    width: 55%;
    margin-bottom: 24px;
    background-color: #e0e0e0;
  }

  .markets-renewable-energy-commercial-solar-button {
    flex: 1;
    text-align: center;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    /* background-color: transparent; */
    background-color: #e0e0e0;
    transition: all 0.3s ease;
    z-index: 2;
  }

  .markets-renewable-energy-commercial-solar-button.active {
    color: #ffffff;
    font-weight: 600;
    background-color: #02448D !important;
  }

  .markets-renewable-energy-commercial-solar-buttons::before {
    content: '';
    position: absolute;
    height: calc(100% - 10px);
    width: 50%;
    border-radius: 4px;
    z-index: 1;
    transition: all 0.3s ease;
    top: 5px;
    left: 5px;
    color: #404040 !important;
    font-weight: 600;
  }

  .markets-renewable-energy-commercial-solar-buttons .highlight {
    position: absolute;
    top: 5px;
    left: 0;
    width: 50%;
    /* Half of the total width (2 buttons) */
    height: calc(100% - 10px);
    background-color: #02448D;
    border-radius: 4px;
    transition: transform 0.3s ease;
    z-index: 1;
  }

  .markets-renewable-energy-commercial-solar-subtitle {
    font-size: 20px;
    font-weight: 600;
    color: #0D0D0D;
    margin-bottom: 8px;
  }

  .markets-renewable-energy-commercial-solar-content {
    font-size: 16px;
    font-weight: 400;
    color: #0D0D0D;
    margin-bottom: 16px;
  }

  .markets-renewable-energy-commercial-solar-learn-more {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    color: #0060CC;
    border: 1px solid #0060CC;
    background-color: #fff;
    border-radius: 10px;
    cursor: pointer;
    width: 20%;
  }

  .markets-renewable-energy-commercial-solar-learn-more:hover {
    opacity: 0.8;
  }
  .markets-renewable-energy-commercial-solar-content-container-1{
    padding: 24px 0 24px 24px;
  }

  .markets-renewable-energy-commercial-solar-content-container-1 p{
    font-size: 16px;

  }
  .markets-renewable-energy-commercial-solar-content-container-2{
    padding: 24px;
  }

  .markets-renewable-energy-commercial-solar-content-container-2 p {
    font-size: 16px;
  }


  @media (max-width: 1180px) {
    .markets-renewable-energy-commercial-solar-container {
      padding: 32px;
    }

    .markets-renewable-energy-commercial-solar-content-container {
      padding: 24px 0;
    }

    .markets-renewable-energy-commercial-solar-header {
      flex-direction: column;
      align-items: center;
      gap: 30px;
      margin-top: 0;
    }

    .markets-renewable-energy-commercial-solar-title {
      font-size: 28px;
      min-width: auto;
      text-align: center;
    }

    .markets-renewable-energy-commercial-solar-buttons {
      width: 100%;
      justify-content: center;
    }

    .markets-renewable-energy-commercial-solar-section {
      flex-direction: column !important;
    }

    .markets-renewable-energy-commercial-solar-image {
      width: 100%;
      max-width: none;
      height: auto;
    }

    .markets-renewable-energy-commercial-solar-content-container-1 {
      padding: 24px 0;
    }

    .markets-renewable-energy-commercial-solar-content-container-2 {
      padding: 24px 0;
    }

  }

  @media (max-width: 768px) {
    .markets-renewable-energy-commercial-solar-container-bg {;
      padding-bottom: 30px;

    }

    .markets-renewable-energy-commercial-solar-header {
      margin-top: 0;
    }

    .markets-renewable-energy-commercial-solar-container {
      padding: 32px 12px 0 12px;

    }

    .markets-renewable-energy-commercial-solar-content {
      font-size: 14px;
    }

    .markets-renewable-energy-commercial-solar-container h1 {
      font-size: 24px;
      line-height: 32px;
    }

    .markets-renewable-energy-commercial-solar-header p {
      font-size: 16px;
    }

    .markets-renewable-energy-commercial-solar-content-container {
      padding: 16px 0;
    }

    .markets-renewable-energy-commercial-solar-learn-more {
      width: 100%;
      max-width: 250px;
      font-size: 14px;
      padding: 8px 16px;
    }

   

    
  }

  @media (max-width: 425px) {
    .markets-renewable-energy-commercial-solar-content-container-2{
      padding: 0px;
    }
    .markets-renewable-energy-commercial-solar-content-container-2 p,
    .markets-renewable-energy-commercial-solar-content-container-1 p,
    .markets-renewable-energy-commercial-solar-header p {
        font-size: 14px;
      }
    .markets-renewable-energy-commercial-solar-image{
        height: auto;
    }

    .markets-renewable-energy-commercial-solar-content-container-1{
      padding: 0;
    }
  }
</style>

<script>
  // JSON Data for Sections
  const marketsRenewableEnergyCommercialSolar = [
    {
      id: "Grounding-Static-Wire",
      title: "Wire & Cable for Power Utilities",
      image: "{{ 'markets-renewable-energy-commercial-solar-1.png' | asset_url }}",
      buttons: [
        {
          label: "Grounding Wire",
          content: `
              <p class="markets-renewable-energy-commercial-solar-content">
               The solar industry efficiently produces energy for a wide range of commercial sectors, each of which benefits from diversifying its energy sources.
              </p>
              <p class="markets-renewable-energy-commercial-solar-content">
              Commercial solar power relies on large-scale solar photovoltaic (PV) power plants, which draw energy from hundreds of thousands of discrete panels. When the sun strikes one of these panels (or modules), its PV cells absorb the energy, generating an electrical field. The electricity then passes through an inverter on its way to a battery. Photovoltaic wire, or PV wire, is a single insulated conductor used to interconnect the solar panels in a solar farm.
              </p>
            `
        },
      ]
    },
    {
      id: "Transmission-Distribution-Cables",
      image: "{{ 'markets-renewable-energy-commercial-solar-2.png' | asset_url }}",
      buttons: [
        {
          label: "Overhead Conductors",
          content: `
              <p class="markets-renewable-energy-commercial-solar-content">
Neither individual panels nor solar farms could function without a network of durable solar power wire, cable, hardware and equipment.
              </p>
              <p class="markets-renewable-energy-commercial-solar-content">
For this vital interconnection, solar energy wire and cables are used to connect these units and distribute the generated current. PV wiring is suitable for use in grounded and ungrounded photovoltaic power systems, generally rated up to 2 kV, in free air, raceways or direct burial in accordance with the NEC (United States) or Canadian Electric Code (CE). When leveraging open air installation wires are tied to racking, offering a fast and cost-effective solution.              </p>
            `
        },

      ]
    },
  ];

  // Render Sections from JSON
  document.addEventListener("DOMContentLoaded", () => {
    const container = document.getElementById("markets-renewable-energy-commercial-solar");

    // Render each section
    marketsRenewableEnergyCommercialSolar.forEach((section, index) => {

      // Tạo một div bọc toàn bộ section
      const wrapperElement = document.createElement("div");
      wrapperElement.className = "markets-renewable-energy-commercial-solar-wrapper";

      const mainElement = document.createElement("div");
      mainElement.className = "markets-renewable-energy-commercial-solar-main";

      const sectionElement = document.createElement("div");
      sectionElement.className = "markets-renewable-energy-commercial-solar-section";
      sectionElement.id = section.id;

      sectionElement.innerHTML = `
          <div class="markets-renewable-energy-commercial-solar-left">
            <img src="${section.image}" alt="${section.title}" class="markets-renewable-energy-commercial-solar-image">
          </div>
          <div class="markets-renewable-energy-commercial-solar-right">
            <div class="markets-renewable-energy-commercial-solar-content-container-1 ">
              ${section.buttons[0].content} 
            </div>
          </div>
        `;


      // check index to convert attribute of class
      if (index % 2 !== 0) {
        sectionElement.style.flexDirection = "row-reverse";

        sectionElement.innerHTML = `
          <div class="markets-renewable-energy-commercial-solar-left">
            <img src="${section.image}" alt="${section.title}" class="markets-renewable-energy-commercial-solar-image">
          </div>
          <div class="markets-renewable-energy-commercial-solar-right">
            <div class="markets-renewable-energy-commercial-solar-content-container-2">
              ${section.buttons[0].content} 
            </div>
          </div>
        `;
      }



      wrapperElement.appendChild(mainElement);
      wrapperElement.appendChild(sectionElement);

      container.appendChild(wrapperElement);
    });

    const sections = document.querySelectorAll(".markets-renewable-energy-commercial-solar-section");

    sections.forEach((section) => {
      const buttons = section.querySelectorAll(".markets-renewable-energy-commercial-solar-button");
      const contentContainer = section.querySelector(
        ".markets-renewable-energy-commercial-solar-content-container"
      );

      buttons.forEach((button, index) => {
        button.addEventListener("click", () => {
          buttons.forEach((btn) => btn.classList.remove("active"));

          button.classList.add("active");

          const contentKey = `${section.id}-${index}`;
          const content = marketsRenewableEnergyCommercialSolar
            .find((s) => s.id === section.id)
            .buttons[index].content;

          contentContainer.innerHTML = content;
        });
      });
    });
  });
</script>