<div class="markets-utility-body-category-container container-width" id="markets-utility-body-category-container">
  <!-- content -->
</div>

<style>
  .markets-utility-body-category-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1520px;
    margin: 60px auto;
    /* padding: 60px 157px 60px 144px; */
    width: 100%;
    gap: 20.21px;
  }

  .markets-utility-body-category-container p {
    color: #0d0d0d;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    background-color: #f2f4f7;
    margin-top: 16px;
    padding: 12px 16px;

    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
  }

  .markets-utility-body-markets-utility-body-category-item {
    flex-grow: 1;
    width: 100%;
  }

  /* Tablet View */
  @media (max-width: 1024px) {
    .markets-utility-body-category-container {
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 32px;
      gap: 16px;
    }

    .markets-utility-body-markets-utility-body-category-item {
      flex: 1 1 48%;
      text-align: center !important;
      align-items: center;
      display: flex;
      flex-direction: column;
    }

    .markets-utility-body-category-container p {
      font-size: 16px;
      line-height: 24px;
      height: auto;
      padding: 10px;
      width: 100%;
    }

    .markets-utility-body-markets-utility-body-category-item img {
      width: 150px;
      height: auto;
    }
  }

  /* Mobile View */
  @media (max-width: 768px) {
    .markets-utility-body-category-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 32px 12px;
      gap: 12px;
      margin: 30px 0;
    }

    .markets-utility-body-markets-utility-body-category-item {
      flex: 1 1 calc(50% - 16px) !important;
      max-width: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .markets-utility-body-category-container p {
      font-size: 14px;
      line-height: 20px;
      padding: 8px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: calc(50vw - 30px);
      display: block;
    }

    .markets-utility-body-markets-utility-body-category-item img {
      width: 120px;
      height: auto;
    }
  }
  @media (max-width: 425px) {
    .markets-utility-body-category-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
</style>

{% schema %}
{
  "name": "Markets Utility Five",
  "settings": [],
  "blocks": [
    {
      "type": "text_block",
      "name": "Text Block",
      "settings": [
        { "type": "text", "id": "title", "label": "Title" },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Markets Utility Five"
    }
  ]
}
{% endschema %}

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const categories = [];

      {% for block in section.blocks %}
    {% if block.type == 'text_block' %}
    categories.push({
          title: "{{  block.settings.title }}",
          image: `{{ block.settings.image | image_url  }}`,
        });
    {% endif %}
{% endfor %}

    const contentContainer = document.getElementById('markets-utility-body-category-container');

    categories.forEach(item => {

      const div = document.createElement('div');
      div.classList.add('markets-utility-body-markets-utility-body-category-item'); 


      const img = document.createElement('img');
      img.src = item.image;
      img.alt = item.title;
      img.width = 199.82;
      img.height = 160;

      const p = document.createElement('p');
      p.textContent = item.title;

      div.appendChild(img);
      div.appendChild(p);

      contentContainer.appendChild(div);
    });
  });
</script>
