<div class="markets-renewable-energy-introduction-solar-container-bg">
  <div
    class="markets-renewable-energy-introduction-solar-container container-width"
    id="markets-renewable-energy-introduction-solar-container"
  >
    <!-- content -->
  </div>
</div>

<style>
  .markets-renewable-energy-introduction-solar-container-bg {
    width: 100%;
    padding: 60px 0;
  }
  .markets-renewable-energy-introduction-solar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1520px;
  }

  .markets-renewable-energy-introduction-solar-container h1 {
    color: #0d0d0d;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 12px;
    max-width: 666px;
  }
  .markets-renewable-energy-introduction-solar-container p {
    color: #0d0d0d;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 10px;
    max-width: 812px;
  }

  /* Tablet (1024px) */
  @media (max-width: 1024px) {
    .markets-renewable-energy-introduction-solar-container {
      padding: 32px; /* Adjust padding for smaller screens */
    }

    .markets-renewable-energy-introduction-solar-container h1 {
      font-size: 32px; /* Reduce heading font size */
      line-height: 36px;
      margin-bottom: 8px; /* Less margin for small screens */
      max-width: 100%; /* Allow heading to take full width */
    }

    .markets-renewable-energy-introduction-solar-container p {
      font-size: 16px; /* Reduce paragraph font size */
      line-height: 20px;
      max-width: 100%; /* Allow paragraph to take full width */
    }

    .markets-renewable-energy-introduction-solar-container img {
      width: 100%; /* Ensure image takes full width */
      height: auto; /* Maintain aspect ratio */
    }
  }

  /* Mobile (768px) */
  @media (max-width: 768px) {
    .markets-renewable-energy-introduction-solar-container {
      padding: 32px 12px;
    }

    .markets-renewable-energy-introduction-solar-container h1 {
      font-size: 24px; /* Further reduce heading font size */
      line-height: 28px;
      margin-bottom: 6px; /* Less margin for small mobile screens */
      max-width: 100%; /* Allow heading to take full width */
    }

    .markets-renewable-energy-introduction-solar-container p {
      font-size: 16px; /* Further reduce paragraph font size */
      line-height: 18px;
      max-width: 100%; /* Allow paragraph to take full width */
    }

    .markets-renewable-energy-introduction-solar-container img {
      width: 100%; /* Ensure image takes full width */
      height: auto; /* Maintain aspect ratio */
    }
  }

  @media (max-width: 425px) {
    .markets-renewable-energy-introduction-solar-container p {
      font-size: 14px; /* Further reduce paragraph font size */
    }

    .markets-renewable-energy-introduction-solar-container-bg {
      padding: 30px 0;
    }
  }
</style>

{% schema %}
{
  "name": "Markets Renewable Three",
  "settings": [
    {
      "type": "text",
      "id": "titleOne",
      "label": "Title",
      "default": "Utility Wire & Cable"
    },
    {
      "type": "richtext",
      "id": "contentOne",
      "label": "Content",
      "default": "<p>Text Here </p>"
    },
    { "type": "image_picker", "id": "imageOne", "label": "Image" }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Markets Renewable Three"
    }
  ]
}
{% endschema %}

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const contentContainer = document.getElementById('markets-renewable-energy-introduction-solar-container');

    contentContainer.innerHTML = '';

    const heading = document.createElement('h1');
    heading.textContent = '{{ section.settings.titleOne }}';
    heading.className = 'title-section';
    contentContainer.appendChild(heading);

    {% if section.settings.contentOne != blank %}
      contentContainer.innerHTML += `{{ section.settings.contentOne }}`;
    {% endif %}

    const img = document.createElement('img');
    img.src = "{{ section.settings.imageOne | image_url }}";
    img.alt = 'None';
    img.style.width = '100%';
    img.height = 903;

    contentContainer.appendChild(img);
  });
</script>
