<div
  class="markets-renewable-energy-category-solar-container container-width"
  id="markets-renewable-energy-category-solar-container"
>
  <!-- content -->
</div>

<style>
  .markets-renewable-energy-category-solar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1520px;
    margin: 60px auto;
    width: 100%;
    gap: 40px;
  }

  .markets-renewable-energy-category-solar-container p {
    color: #0d0d0d;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    background-color: #f2f4f7;
    margin-top: 16px;
    padding: 12px 9px;
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    width: 100%;
  }

  .markets-renewable-energy-category-solar-item {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 1024px) {
    .markets-renewable-energy-category-solar-container {
      flex-wrap: wrap;
    }

    .markets-renewable-energy-category-solar-container {
      padding: 32px;
    }

    .markets-renewable-energy-category-solar-item {
      width: 45%;
      /* Two items per row on tablet */
      margin-bottom: 20px;
    }
  }

  @media (max-width: 768px) {
    .markets-renewable-energy-category-solar-container {
      gap: 20px;
      display: flex;
      flex-wrap: wrap;
      margin: 0;
    }
    .markets-renewable-energy-category-solar-item {
      width: calc(33.33% - 20px);
      box-sizing: border-box;
      margin-bottom: 20px;
    }

    .markets-renewable-energy-category-solar-item {
      margin-bottom: 20px;
    }

    .markets-renewable-energy-category-solar-item p {
      font-size: 16px;
    }

    .markets-renewable-energy-category-solar-container p {
      min-height: 110px;
    }
  }

  @media (max-width: 425px) {
    .markets-renewable-energy-category-solar-container {
      flex-wrap: wrap;
      gap: 16px;
    }

    .markets-renewable-energy-category-solar-item {
      width: calc(50% - 10px);
      box-sizing: border-box;
      margin-bottom: 16px;
    }

    .markets-renewable-energy-category-solar-item p {
      font-size: 14px;
    }
  }
</style>

{% schema %}
{
  "name": "Markets Renewable Five",
  "settings": [],
  "blocks": [
    {
      "type": "text_block",
      "name": "Text Block",
      "settings": [
        { "type": "text", "id": "title", "label": "Title" },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Markets Renewable Five"
    }
  ]
}
{% endschema %}


<script>
  document.addEventListener('DOMContentLoaded', function () {
    const marketsRenewableEnergySolarCategories = [ ];

          {% for block in section.blocks %}
    {% if block.type == 'text_block' %}
    marketsRenewableEnergySolarCategories.push({
          title: "{{  block.settings.title }}",
          image: `{{ block.settings.image | image_url  }}`,
        });
    {% endif %}
{% endfor %}

    const contentContainer = document.getElementById('markets-renewable-energy-category-solar-container');

    marketsRenewableEnergySolarCategories.forEach(item => {

      const div = document.createElement('div');
      div.classList.add('markets-renewable-energy-category-solar-item');  // Add class for styling


      const img = document.createElement('img');
      img.src = item.image;
      img.alt = item.title;
      img.width = 161;
      img.height = 195;

      const p = document.createElement('p');
      p.textContent = item.title;

      div.appendChild(img);
      div.appendChild(p);

      contentContainer.appendChild(div);
    });
  });
</script>
