<section class="markets-renewable-energy-commercial-bess-container-bg">
  <div
    class="markets-renewable-energy-commercial-bess-container container-width"
    id="markets-renewable-energy-commercial-bess-container"
  >
    <div class="markets-renewable-energy-commercial-bess-top">
      <img
        src="{{ 'markets-renewable-energy-commercial-bess-1.png' | asset_url }}"
        alt="empty"
        width="758"
        height="524"
      >
      <div class="markets-renewable-energy-commercial-bess-top-left">
        <h1 class="title-section">Battery Energy Storage Systems (BESS)</h1>
        <p>
          Battery energy storage systems have become increasingly important in renewable energy applications,
          particularly in solar and wind farm installations. These systems play a critical role in improving the
          reliability and stability of power grids, by storing excess energy produced during peak periods and supplying
          it back to the grid during periods of low demand.
        </p>
        <p>
          In solar farm applications, BESS are used to address the variability of solar energy production caused by
          weather changes and daylight cycles. During periods of high sunlight, excess energy is stored in the
          batteries, which can be used to supply power when the sun is not shining. This allows solar farms to provide
          consistent and reliable energy output, even during periods of low sunlight.
        </p>
        <p>
          Similarly, in wind farm applications, BESS can help address the intermittent nature of wind energy production.
          During periods of high wind speed, excess energy is stored in the batteries, which can be used to supply power
          when wind speeds are low. This helps to maintain a steady flow of energy to the grid, ensuring a reliable and
          stable power supply.
        </p>
        <p>
          Furthermore, BESS can also be used to provide additional services to the grid, such as frequency regulation
          and grid stabilization. This is particularly important in areas with high levels of renewable energy
          penetration, where the variability of renewable energy sources can impact the stability of the power grid.
        </p>
        <p>
          Overall, battery energy storage systems are an essential component of modern renewable energy systems,
          providing a means of balancing supply and demand, improving grid stability, and ensuring reliable and
          consistent energy output. As renewable energy continues to grow, BESS will play an increasingly critical role
          in the transition to a cleaner and more sustainable energy future.
        </p>
        <p style="margin-bottom:28px;">AWG offers solutions for BESS including our BatteryGuard® Copper DLO cable.</p>
        <button onclick="window.location.href='{{ shop.url }}/pages/essential-cabling-solutions-for-battery-energy-storage-systems-bess'">Learn more</button>
      </div>
    </div>
  </div>
</section>

<style>
    .markets-renewable-energy-commercial-bess-container-bg {

      background-color:#F2F4F7;
      padding: 60px 0;
    }
    .markets-renewable-energy-commercial-bess-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 auto;
      max-width: 1520px;
    }
    .markets-renewable-energy-commercial-bess-container h1 {
      color:#0D0D0D;
      font-weight:700;
      font-size:40px;
      line-height:48px;
      margin-bottom:24px;
    }
    .markets-renewable-energy-commercial-bess-container h3 {
      color:#0D0D0D;
      font-weight:600;
      font-size:24px;
      line-height:30px;
      margin-bottom:12px;
    }
    .markets-renewable-energy-commercial-bess-container p {
      color: #0D0D0D;
      font-weight:400;
      font-size:16px;
      line-height:24px;
      margin-bottom:16px;
      width:100%;
    }
    .markets-renewable-energy-commercial-bess-top{
      display: flex;
      justify-content: space-between;
      gap:46px;
    }

    .markets-renewable-energy-commercial-bess-top img{
      border-radius: 8px;
      border: 1px #DBDBDB solid;
      overflow: hidden;
      min-width: 748px;
      width: 748px;
      height: 524px;
    }

    .markets-renewable-energy-commercial-bess-top-left button {
      width: 121px;
      height:40px;
      white-space: nowrap;
      display:flex;
      justify-content:center;
      align-items:center;
      border: #3781C3 1px solid;
      padding: 10 24px;
      border-radius: 10px;
      background-color: transparent;
      color:#3781C3;
      font-weight:600;
      font-size:16px;
      line-height:20px;
    }

  /* Button Hover Effect */
    .markets-renewable-energy-commercial-bess-top-left button:hover {
      background-color: #3781C3;
      color: #FFFFFF;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
    }

    @media (max-width: 1180px) {
    .markets-renewable-energy-commercial-bess-container {
      padding: 32px;
    }

    .markets-renewable-energy-commercial-bess-top {
      flex-direction: column;
      align-items: center;
      gap: 30px;
    }

    .markets-renewable-energy-commercial-bess-top img {
      width: 100%;
      height: auto;
    }

    .markets-renewable-energy-commercial-bess-top-left {
      text-align: left;
    }

    .markets-renewable-energy-commercial-bess-top-left button {
      margin: 0;
    }
  }

  @media (max-width: 768px) {
    .markets-renewable-energy-commercial-bess-container {
      padding: 32px 12px;
    }

    .markets-renewable-energy-commercial-bess-top img{
      min-width: 0px;
    }

    .markets-renewable-energy-commercial-bess-container h1 {
      font-size: 24px;
      line-height: 34px;
    }

    .markets-renewable-energy-commercial-bess-container p {
      font-size: 16px;
      line-height: 22px;
      text-align: left;
    }

    .markets-renewable-energy-commercial-bess-top-left button {
      width: fit-content;
      max-width: 250px;
      font-size: 14px;
      padding: 8px 16px;
    }
  }

  @media (max-width: 425px) { 
    .markets-renewable-energy-commercial-bess-top-left p {
      font-size: 14px;
    }
  }
</style>